# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Modelos entrenados
*.h5
*.keras
*.ckpt
*.weights.h5

# TensorBoard
logs/

# VS Code
.vscode/

# PyCharm
.idea/

# Windows
Thumbs.db
Desktop.ini

# Dataset
Data/

# Resultados
results/

Data/

__pycache__/
*.py[cod]